* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-btw {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.grow-1 {
  flex: 1;
}

button {
  padding: 0.5em;
  margin: 0.2em;
}

.shop {
  border-right: 3px solid darkgrey;
  border-bottom: 3px solid darkgrey;
}

.shop-top > h2 {
  border: 3px solid darkgrey;
  border-right: none;
  padding: 1em;
  height: 30px;
}

.shop-top > h2:hover {
  cursor: pointer;
  background: #eee;
}

.inventory {
  border-bottom: 3px solid darkgrey;
}

.gold {
  padding: 1em;
  height: 100px;
}

.gold > h2 {
  border-left: none;
  padding: 1em;
}

.item {
  border: 1px solid darkgrey;
  margin: 0.4em;
}

.effect {
  width: fit-content;
  height: fit-content;
  border: 1px solid darkgrey;
  padding: 0.1em;
  margin: 0.1em;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 2em;
}