* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

button {
  cursor: pointer;
  padding: 0.5em;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.self-end {
  align-self: flex-end;
}

.space-btw {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grow1 {
  flex: 1;
}

.shop {
  border-right: 3px solid darkgrey;
  border-bottom: 3px solid darkgrey;
}

.shop-top > h2 {
  border: 3px solid darkgrey;
  border-right: none;
  padding: 1em;
  height: 30px;
}

.shop-top > h2:hover {
  cursor: pointer;
  background: #eee;
}

.inventory {
  border-bottom: 3px solid darkgrey;
}

.gold {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 3em;
}

.item {
  border: 1px solid darkgrey;
  background: white;
}

.effect {
  width: fit-content;
  height: fit-content;
  border: 1px solid darkgrey;
  padding: 0.1em;
  margin: 0.1em;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 2em;
}

.character {
  width: 200px;
  border: 1px solid lightgrey;
  margin: 0.5em;
  cursor: pointer;
  background: white;
  padding: 0.5em;
  border-radius: 10px;
}

.character img {
  width: 95%;
}

.character h2 {
  text-align: center;
}

.toolbar {
  background: #eee;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.toolbar a {
  margin: 0 1em;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

.item button {
  padding: 1em;
  margin: 0.5em;
}

.item p {
  padding: 0.2em;
  font-size: 1.2em;
}

.inv {
  padding: 0.5em;
}

.inv h2 {
  padding: 0.5em;
}

.menu > .character {
  margin-top: 2em;
  width: 325px;
  font-size: 1.8em;
}

.arena-card {
  border: 1px solid darkgrey;
  margin: 2em;
}

.arena-card img {
  width: 250px;
  margin: auto;
}

.hpWrapper {
  height: 25px;
  background: darkgrey;
  margin: 0.5em;
  border: 1px solid darkgrey;
}

.hp {
  width: 40%;
  height: 100%;
  background: yellowgreen;
}

.arena-buttons button {
  margin: 0.25em;
  width: 100px;
  cursor: pointer;
}

.selected {
  width: 50px;
  height: 50px;
  border: 1px solid darkgrey;
  margin: 0.5em;
}

.selected img {
  width: 100%;
}

.modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
}

.modal-content {
  margin: 3em auto;
  width: 600px;
  height: 600px;
  background: darkgrey;
}

.close-button {
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0.5em;
}